.container{
    background-color: rgb(24, 24, 24);
    min-height: calc(100vh - 75px);
    color: white;
    display: flex;
    flex: 1;
    height: 100%;
    width: 100%;
    }
.content-container{
    margin-left: 50px;
    }
.featured-content{
    height: 50vh;
    padding: 50px;
    }
.featured-title{
    width: 200px;
    }
.featured-description{
    width: 500px;
    margin: 30px 0;
    color: lightgray;
    }
.featured-button{
    padding: 10px 20px;
    background-color: yellow;
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    }
.container.active{
    background-color: white;
    color: black;
    }   