.movie-list-container{
    padding: 0 20px;
    }
.movie-list-wrapper{
    position: relative;
    overflow: hidden;
}
.movie-list{
    margin-top: 50px;
    display: flex;
    align-items: center;
    height: 300px;
    transform: translateX(0);
    transition: 0.5s all ease-in-out;
    }
.movie-list-item{
    margin-right: 30px;
    position: relative;
    }
.movie-list-item-img{
    height: 200px;
    width: 270px;
    object-fit: cover;
    transition: 0.5s all ease-in-out;
    border-radius: 20px;
    }
.movie-list-item:hover .movie-list-item-img{
    transform: scale(1.2);
    margin-right: 30px;
    opacity: 0.5;
    }
.movie-list-item-title{
    background-color: #333;
    padding: 0 10px;
    font-size: 32px;
    font-weight: bold;
    position: absolute;
    top: 10%;
    left: 5%;
    opacity: 0;
    transition: 0.5s all ease-in-out;
    }
.movie-list-item-description{
    background-color: #333;
    padding: 10px;
    font-size: 14px;
    position: absolute;
    top: 25%;
    left: 5%;
    width: 230px;
    opacity: 0;
    transition: 0.5s all ease-in-out;
    }
.movie-list-item-button{
    background-color: yellow;
    color: rgb(0, 0, 0);
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    opacity: 0;
    position: absolute;
    top: 85%;
    left: 5%;
}
.movie-list-item:hover .movie-list-item-img,
.movie-list-item:hover .movie-list-item-title,
.movie-list-item:hover .movie-list-item-description,
.movie-list-item:hover .movie-list-item-button{
    opacity: 1;
    }
.right-arrow{
    color: lightgray;
    font-size: 120px;
    position: absolute;
    top: 90px;
    cursor: pointer;
    right: 660px;
    opacity: 0.5;
    }